body::-webkit-scrollbar{
width:8px;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow:0 0 3px gray;
}
body::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border:2px solid #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;  
}
section:target{
    padding-top: 96px;
}
/* Header styles */
.navbar{
    background-color: #000;
    z-index: 1000;
}
.navbar .nav-link{
    color:#ccc!important;
    font-size: 19px;
    letter-spacing: 1px;
}
.nav-link.activate{
    color: red!important;
}
.navbar-toggler:focus{
border: 1px solid red!important;
}
.cool-link{    
    position: relative;
    width:fit-content
}
.cool-link::after{
    content: '';
    display: block;
    background-color: red;
    width: 0%;
    height:2px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    -ms-transition: width .3s ease;
    -o-transition: width .3s ease;
    
}
.cool-link:hover::after{
    width: 100%;
}

/* banner styles */

#banner-carousel .carousel-item{    
    height: calc(100vh - 96px);
    background-position: start!important;
}
#banner-carousel  .carousel-item img{
    width: 100%;
    height: 100%;
}
#banner-carousel .carousel-item:after{
    display: block;
    content: "";
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
}
#banner-carousel .carousel-caption{
    bottom:120px;
}


/* heading styles */
.headings{
    position: relative;
    margin: 30px auto;
    text-align: center;
    position: relative;
    width: fit-content;
}
.headings i{
    position: absolute;
    bottom:-20px;
    left: 50%;
    transform: translateX(-50%);
    color:red;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.main-heading{    
    color: #777;
    font-family: 'Sofia';
}
.main-heading::before{
content:'';
display: block;    
width:40%;
height: 1px;
background-color: red;
position: absolute;
bottom:-12px;
left:0;
}
.main-heading::after{
    content:'';
    display: block;    
    width:40%;
    height: 1px;
    background-color: red;
    position: absolute;
    bottom:-12px;
    right: 0;
    }


    



/* about sectiobn  */
.about-img{
    overflow-x: hidden;
}
.about-img img{
    width:100%;
    height:250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.features{
    background-color: rgba(0, 0, 0, 0.9);
    color:#999;
}
.features .icon-wrapper{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.features .icon-wrapper:hover{
    background-color: red;
}
.features .icon-wrapper i{
    color:red;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.features .icon-wrapper:hover i{
    color:black;
    
}
.features h3{
    color:#999;
}

/* Testimonial sectiion */
.slide-area{
    background: linear-gradient(rgba(1, 3, 32, 0.6),rgba(10, 1, 27, 0.6)),url('./assets/img/banner-1.jpeg') no-repeat;;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
#ratingCarousel .img-area{
    width:150px;
    height:150px;
    margin: 0 auto;
    border: 4px solid #ccc;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
#ratingCarousel .img-area:hover{ 
    border: 4px solid red;
    border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    -ms-border-radius: 50%; 
    -o-border-radius: 50%;
    overflow: hidden;
}
#ratingCarousel .img-area img{
    width:100%;
    height:100%;
    }
#ratingCarousel .carousel-caption{
        position:static;
        padding-bottom: 30px;
}

/* Menu styles */
.recipe-card{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;    
}
.recipe-card h5{
    background-color: rgb(13, 155, 155);
    clip-path: polygon(0 0,100% 0,90% 50%,100% 100%,0 100%);
}
.recipe-img{    
    height:250px;   
}

/* Contact Page */

#contact{
    background-color: #303030;
    color:#ccc;
}
#contact h1{
    color:#ccc;
}
#contact input,#contact textarea{
    color:#ccc;    
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
#contact input:focus,#contact textarea:focus{
border: 1px solid #ccc;
box-shadow:0 0 10px #ccc;
outline: none!important;
}
.submit-btn{
    padding:10px 30px;
    display: block;
    width:100%;
    border: 3px solid red;
    font-weight: 600;
    letter-spacing: 1px;
    color: red;
    background-color: transparent;
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.submit-btn:hover{
    background-color: rgba(255, 0, 0, 0.726);
    color:#fff;    
}

/* Maps styles */
#map {
    height: 100%;    
  }

@media(min-width:568px){
    .about-img img{        
        height:300px;
    }
}
@media(min-width:768px){
    .cool-link:hover::after{
        width: calc(100% - 1rem);
    }
    .about-img img{        
        height:400px;
    }
    .recipe-card:hover{
        transform:translateY(-10px);
        -webkit-transform:translateY(-10px);
        -moz-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
        -o-transform:translateY(-10px);
        -webkit-transform:translateY();
    }
}



